<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
</head>
<body onload="makePayment()">
    <script>
        function makePayment() {
            let count=0;
            fetch('https://www.shaamil.in.net/user/order/payement/create-order', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                var options = {
                    "key": "rzp_test_Mg8qA7Z2ycbKOB", 
                    "amount": data.amount,  
                    "currency": data.currency,
                    "name": "G-Fresh",
                    "description": "Razorpay",
                    "order_id": data.order_id,  
                    "handler": function (response) {
                    
                        fetch('https://www.shaamil.in.net/user/order/payement/verify-payment', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                razorpay_payment_id: response.razorpay_payment_id,
                                razorpay_order_id: data.order_id,
                                razorpay_signature: response.razorpay_signature
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.status);
                        })
                        .catch(error => console.error('Error verifying payment:', error));
                    },
                    "prefill": {
                        "name": "G-fresh",
                        "email": "gfreshproject2024@gmail.com",
                        "contact": "9947686494"
                    },
                    "modal": {
                        "ondismiss": function() {
                            if(count>=3){
                                alert("Maximum payment attempt reached.");
                            }
                            console.log("Payment was not completed or was cancelled.");
                            alert("Payment failed or was cancelled.");
                            count++
                        
                        }
                    }
                };
    
                var rzp1 = new Razorpay(options);
                rzp1.open();
            })
            .catch(error => console.error('Error creating order:', error));
        }
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</body>
</html>
